AdminApplication/Connected Services/CategoryWebServiceReference/categorywebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertCategoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deleteCategoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchCategoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateCategoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertCategorySoapIn">
    <wsdl:part name="parameters" element="tns:insertCategory" />
  </wsdl:message>
  <wsdl:message name="insertCategorySoapOut">
    <wsdl:part name="parameters" element="tns:insertCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="deleteCategorySoapIn">
    <wsdl:part name="parameters" element="tns:deleteCategory" />
  </wsdl:message>
  <wsdl:message name="deleteCategorySoapOut">
    <wsdl:part name="parameters" element="tns:deleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="SearchCategorySoapIn">
    <wsdl:part name="parameters" element="tns:SearchCategory" />
  </wsdl:message>
  <wsdl:message name="SearchCategorySoapOut">
    <wsdl:part name="parameters" element="tns:SearchCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="updateCategorySoapIn">
    <wsdl:part name="parameters" element="tns:updateCategory" />
  </wsdl:message>
  <wsdl:message name="updateCategorySoapOut">
    <wsdl:part name="parameters" element="tns:updateCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="categorywebserviceSoap">
    <wsdl:operation name="insertCategory">
      <wsdl:input message="tns:insertCategorySoapIn" />
      <wsdl:output message="tns:insertCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteCategory">
      <wsdl:input message="tns:deleteCategorySoapIn" />
      <wsdl:output message="tns:deleteCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchCategory">
      <wsdl:input message="tns:SearchCategorySoapIn" />
      <wsdl:output message="tns:SearchCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateCategory">
      <wsdl:input message="tns:updateCategorySoapIn" />
      <wsdl:output message="tns:updateCategorySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="categorywebserviceSoap" type="tns:categorywebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertCategory">
      <soap:operation soapAction="http://tempuri.org/insertCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCategory">
      <soap:operation soapAction="http://tempuri.org/deleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCategory">
      <soap:operation soapAction="http://tempuri.org/SearchCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCategory">
      <soap:operation soapAction="http://tempuri.org/updateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="categorywebserviceSoap12" type="tns:categorywebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertCategory">
      <soap12:operation soapAction="http://tempuri.org/insertCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCategory">
      <soap12:operation soapAction="http://tempuri.org/deleteCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCategory">
      <soap12:operation soapAction="http://tempuri.org/SearchCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCategory">
      <soap12:operation soapAction="http://tempuri.org/updateCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="categorywebservice">
    <wsdl:port name="categorywebserviceSoap" binding="tns:categorywebserviceSoap">
      <soap:address location="https://localhost:44333/categorywebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="categorywebserviceSoap12" binding="tns:categorywebserviceSoap12">
      <soap12:address location="https://localhost:44333/categorywebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>